<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <!-- <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Local Postges Configuration -->
        <!-- <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dbrs</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">makhsus</property> --> 
        
        <!-- Server Postges Configuration  -->
        <!-- <property name="hibernate.connection.url">jdbc:postgresql://128.199.167.199:5432/mencoba</property>
        <property name="hibernate.connection.username">padidev</property>
        <property name="hibernate.connection.password">padicon123</property> -->
        
        <!-- Local MySQL Configuration -->
        <!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbrs</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property> -->
        
        
        <!-- Server MySQL Configuration -->
        <property name="hibernate.connection.url">jdbc:mysql://128.199.167.199:3306/tes</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">ticketingdb123</property>
        
        <mapping class="com.rs.model.Admission" />
		<mapping class="com.rs.model.Mahasiswa" />
		<mapping class="com.rs.model.City" />
		<mapping class="com.rs.model.ContentConfig" />
		<mapping class="com.rs.model.Employee" />
		<mapping class="com.rs.model.Province" />
		<mapping class="com.rs.model.Roles" />
		<mapping class="com.rs.model.Room" />
		<mapping class="com.rs.model.SubRoles" />
		<mapping class="com.rs.model.Users" />
		<mapping class="com.rs.model.Patient" />
		<mapping class="com.rs.model.Polyclinic" />
		<mapping class="com.rs.model.Occupation" />
		<mapping class="com.rs.model.PracticSchedule" />
		<mapping class="com.rs.model.UniqueNumber" />
		<mapping class="com.rs.model.MedicalRecords" />
		<mapping class="com.rs.model.SubOccupation" />
		<mapping class="com.rs.model.ContentConfig" />
		<mapping class="com.rs.model.Supplier" />
		<mapping class="com.rs.model.Medicine" />
		<mapping class="com.rs.model.MedicinePurchases" />
		<mapping class="com.rs.model.MedicinePurchasesItems" />
		<mapping class="com.rs.model.MedicinePatient" />
		<mapping class="com.rs.model.MedicalTransaction" />
		
		
    </session-factory>
</hibernate-configuration>