<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Local Postges Configuration -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dbrs</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">makhsus</property> 
        
        <!-- Server Postges Configuration  -->
        <!-- <property name="hibernate.connection.url">jdbc:postgresql://128.199.167.199:5432/coba</property>
        <property name="hibernate.connection.username">padidev</property>
        <property name="hibernate.connection.password">padicon123</property> -->
        
		<mapping class="com.rs.model.Mahasiswa" />
    </session-factory>
</hibernate-configuration>